    
    </div>

</div>

</div><!-- /.container -->

<br><br><br>

<hr>

<p class="text-center">&COPY;ShoppingCart</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>